<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive header -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9204937843536445"
     data-ad-slot="6823815666"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="row">
  <div class="span4">
    {% include custom/asides/about.html %}
  </div>
  <div class="span2">
    {% include custom/asides/found_on.html %}
  </div>
</div>
